# =========================
# Dataset directory
# =========================
thinking_outloud_dataset/*
!thinking_outloud_dataset/README.md


# =========================
# Processed data
# =========================
processed_data/


