# =========================
# Dataset directory
# =========================
thinking_outloud_dataset/*
!thinking_outloud_dataset/README.md


# =========================
# Processed data
# =========================
processed_data/


# =========================
# Conda installer
# =========================
Miniconda3-latest-Linux-x86_64.sh