# =========================
# Dataset directory
# =========================
thinking_outloud_dataset/*
!thinking_outloud_dataset/README.md
!image_folder_structure.png


# =========================
# Processed data
# =========================
processed_data/*
!processed_data/README.md

# =========================
# VS Code 
# =========================
.vscode


# =========================
# Python
# =========================
__pycache__/

# =========================
# Results
# =========================
results